html{
    height: 100vh;
    min-width: 600px;
    background-image: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 51%, rgb(11, 127, 150) 100%);
    background-repeat: no-repeat;
    background-size: auto;
}
h1 {
    font-size: 65px;
    font-style: unset;
    color: rgb(224, 206, 206);
    text-align: center;
    flex: 2;
}
.container {
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.task {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    flex: auto;
}
input[type="text"] {
    height: 30px;
    border: none;
    color: darkgreen;
    font-size: 1rem;
    font-weight: bold;
    flex-grow: 1;
}
button {
    font-size: 1.5rem;
    border: none;
    background: none;
}
button:hover {
    color: red;
    cursor: pointer;
}
.todoList {
    display: flex;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
    width: 300px;
    height: 100%;
}
ul {
    padding-left: 0px;
    list-style: none;
}
li {
    display: flex;
    align-items: center;
    padding: 15px 0;
    font-size: 1rem;
    color: black;
}
.clearList {
    margin: 0 auto;
    margin-top: 30px;
    width: 100px;
    text-align: center;
    flex: auto;
    padding: 10px 25px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    border-radius: 5px;
}
.clearList:hover {
    color: red;
}
i {
    pointer-events: none;
}