h1 {
    font-size: 65px;
    font-style: unset;
    color: rgb(224, 206, 206);
    text-align: center;
    flex: 2;
}

body {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 51%, rgba(0,212,255,1) 100%);
}
.box1 {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    flex: auto;
}
.box2 {
    margin: 0 auto;
    width: 300px;
    text-align: center;
    flex: auto;
}
.addtaskbtn {
    padding: 50px;
    text-align: center;
}
input {
    padding: 5px;
    height: 20px;
}
button {
    height: 40px;
    width: 180px;
    margin: 0 auto;
    font-style: italic;
    font-weight: bold;
    border-radius: 10px;
}
fieldset {
    margin-top: 30px;
    font-size: 25px;
    font-style: unset;
    color: rgb(224, 206, 206);
    text-align: center;
    flex: 2;
    padding: 50px;
    height: auto;
    align-items: center;
}